.shopImg{
width:100px;
}

.product{
background-color: white;
width: fit-content;
padding: 10px;
text-align: center;
border-radius: 5px;
}

.prodCont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shopCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sideBar {
    flex-basis: 25%;
    background: white;
    height: 97vh;
    overflow-y: auto;
    text-align: center;
    transition: flex-basis 500ms;
}
.view {
    flex-basis: 75%;
    transition: flex-basis 500ms;

}
nav {
    display: flex;
    justify-content: space-evenly;
}
.categoryBtn {
    flex-basis: 24%;
    cursor: pointer;
    background: white;
    border: 2px solid;
    margin-bottom: 10px;
}
.noMatch{
        background: white;
        padding: 10px;
        border: 2px solid;
    
}
.addition{
background: white;
display: flex;
flex-direction: column;
align-items: center;
background: linear-gradient(90deg, transparent 25%, white 50%, transparent 100%);

}
.imgAddition{
    max-width: 30%;
}
.btnCont {
    display: flex;
}

button.deleteBtn {
    position: relative;
    left: 85px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    top: -69px;
}
button.deleteBtn:hover {
    color:red;
}
.productsForDisplay {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}